# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env
.env.*
*.sqlite3

# FastAPI/Python build
*.log
*.db
*.egg-info/

# React/Node
node_modules/
build/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Misc
*.swp
*.swo
.idea/ 